#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

header{
  position: fixed;
  width:100%;
  top:0;
  left: 0;
  ul{
    display:flex;
    justify-content: center;
    list-style:none;
    a{
      font-size:20px;
      margin-inline:1%;
    }
  }
}

footer{
  position: fixed;
  width:100%;
  bottom:0;
  left:0;
}

.card {
  background-color: #f0f0f0;
  border-radius: 50px;
  box-shadow:1px 1px 10px rgba(0, 0, 0, 0.376);
  padding: 2em;
  .name, .email, .password {
    font-size: large;
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      padding-right: 20px;
      font-weight: 600;
    }
  }
  button {
    border: 0.1px solid #bfbfbf;
    font-weight: 600;
    background-color: #ffffff;
    margin-inline: 10px;
    &:hover{
      border:0.1px solid #bfbfbf;
      background-color: rgb(161, 161, 161);
    }
  }
  input {
    border-radius: 10px;
    height: 30px;
    width: 200px;
    font-size: medium;
    text-align: center;
    border: 0.1px solid #c7c7c7;
  }
  textarea {
    margin-block: 10px;
    justify-content: center;
    display:block;
    height: 200px;
    width: 500px;
    border-radius: 10px;
    font-size: medium;
    border: 0.1px solid #c7c7c7;
  }
}

.copyright{
  color: #888;
  text-decoration: none;
}
